@media (max-width: 1020px) {

    header{
        background-color: var(--cor-texto);
        background-image: linear-gradient(var(--cor-primary));
    }

    header .logo-cabecalho img{
    margin-top: 10px;
    max-width: 210px;
    height: 75px;
}
    header .menu-desktop {
        display: none;
    }

    .btn-menu-mobile{
        display: block;
    }

    h1.titulo-section{
        font-size: 2rem;
    } 

    /* Estilo da hero */
    section.hero{
        background-image: linear-gradient(to top, var(--cor-secondary) 90%, var(--cor-primary) 10%);
        padding-top: 170px;
        
    } 

    .hero > .interface{
        text-align: center;
        gap: 50px;
        flex-direction: column-reverse;
    } 

    .hero .img-hero img{
        height: 400px;
        width: 280px;
        display: block;
    }

    .hero .texto-hero h1{
        color: var(--cor-texto);
        font-size: 2.5rem;
        font-weight: 300;
        display: block;
    }

    .hero .texto-hero h1 span{
        color: var(--cor-primary);
        font-weight: 400;
    }

    .hero .texto-hero p{
        color: var(--cor-texto);
        font-size: 1rem;
        margin: 28px 0;
        line-height: 1.8;
    }

    .hero .texto-hero button{
        margin-top: 22px;
        padding: 14px 24px;
        font-size: 1rem;
        font-weight: bold;
        transition: all 0.3s ease;
    }   

    /* Estilo da seção "Sobre mim" */

    section.sobre-mim{
        padding: 30px 0;
        height: auto;
        min-height: auto;
    }

    .sobre-mim > .interface{
        flex-direction: column;
        gap: 60px;
    }

    .sobre-mim .img-sobre img{
        width: 350px;
    }   
    .sobre-mim .txt-sobre p{
        color: var(--cor-secondary);
        text-align: justify;
        line-height: 1.6;
    }

    /* -------- Estilo Especialidades ------- */


    section.especialidades .flex {
        gap: 60px;
        display: block;
        text-align: center;
        
        
    }

    /* -------Estilo Portifolio -----------*/

    section.portifolio {
        padding:30px 0;
        background-color:#e0e0e0;
        height: auto;
        min-height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.portifolio .flex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        
    }

    .project-title {
        font-weight: 600;
        margin-bottom: 10px;
        text-align: center;
        font-size: 1.2em;
        color: #676f86;
        position: relative;
        cursor: default;
        transition: color 0.3s;
    }   

    /* Estilo do Footer */
    footer .interface {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    footer .interface .btn-redes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px; 
        margin-top: 10px;
    }

    footer .interface .btn-redes a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
        footer .interface .btn-redes button {
        margin: 0;
        padding: 8px;
    }
    
    footer .interface .logo-footer{
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;

    }
    footer .interface .logo-footer img{
        max-width: 55%;
        height: auto;

    }
}