<footer id="contato">
    <div class="interface">

        <div class="logo-footer">
            <img src="/images/logo-.png" alt="logo do site">
            <h2>Transforme ideias em soluções</h2>
            <p>
                Fale comigo e encontraremos as melhores soluções para resolver seus problemas
                com eficiência e inovação.
            </p>
        </div>

        <div class="btn-redes">
            <a href="https://web.whatsapp.com/send?phone=5598987417135" target="_blank">
                <button><i class="bi bi-whatsapp"></i></button>
            </a>
            <a href="https://www.linkedin.com/in/haroldoalcobacas/" target="_blank">
                <button><i class="bi bi-linkedin"></i></button>
            </a>
            <a href="https://github.com/haroldoalcobacas" target="_blank">
                <button><i class="bi bi-github"></i></button>
            </a>
        </div>

    </div>
</footer>
