<header class="site-header">
  <div class="interface">

    <section class="logo-cabecalho">
      <img src="../images/logo.png" alt="Logo do site">
    </section>

    <nav class="menu-desktop">
      <ul>
        <li><a href="../index.html#inicio">Início</a></li>
        <li><a href="../index.html#sobre-mim">Sobre mim</a></li>
        <li><a href="../index.html#especialidades">Especialidades</a></li>
        <li><a href="../index.html#portifolio">Projetos</a></li>
        <li><a href="../cases/lavanderia.html">Cases</a></li>
        <li>
          <a href="https://web.whatsapp.com/send?phone=5598987417135" target="_blank">
            <button>Contato</button>
          </a>
        </li>
      </ul>
    </nav>

    <div class="btn-menu-mobile" id="btn-menu-mobile">
      <i class="bi bi-list"></i>
    </div>

    <nav class="menu-mobile" id="menu-mobile">
      <i class="bi bi-x-circle" id="btn-fechar-menu"></i>

      <ul>
        <li><a href="../index.html#inicio">Início</a></li>
        <li><a href="../index.html#sobre-mim">Sobre mim</a></li>
        <li><a href="../index.html#especialidades">Especialidades</a></li>
        <li><a href="../index.html#portifolio">Projetos</a></li>
      </ul>

      <!-- SUBMENU DE CASES NO MOBILE -->
      <div class="menu-mobile-cases">
        <span class="menu-mobile-title">Cases</span>
        <ul>
          <li><a href="../cases/lavanderia.html">Case 1 - Check Fácil</a></li>
          <li><a href="../cases/case2.html">Case 2 - Frente de Produtividade</a></li>
          <li>
            <a href="https://web.whatsapp.com/send?phone=5598987417135" target="_blank">
              Contato
            </a>
          </li>
        </ul>
      </div>
    </nav>


  </div>
</header>

